$desktop: 1224px;
$tablet: 768px;
$leck: 'Leckerli One', cursive;
$hubb: 'Hubballi', cursive;

// colors

$white: white;
$black: black;
$main-gray: #b7bcc8;
$primaryColor1: lightcoral;
$primaryColor2: #AB9084;

$gray-000: rgba(0, 0, 0, .5);
$gray-100: rgba(0, 0, 120, .1);
$gray-200: rgb(229 231 235);
$gray-300: hsl(220, 13%, 75%);
